<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="A DBT Diary Card Entry and Tracking App">
    <script>{{{COMPILED_TYPESCRIPT_CONTENT}}}</script>
    <style>{{{COMPILED_SASS_CONTENT}}}</style>
  </head>
  <body>
    This is placeholder body content.
  </body>
</html>
